1 ICON "assets/icon.ico"

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS 0x4L
FILETYPE 0x1L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "tugcantopaloglu"
      VALUE "FileDescription", "Game Studio Crew"
      VALUE "FileVersion", "0.1.0"
      VALUE "InternalName", "game-studio"
      VALUE "LegalCopyright", "MIT"
      VALUE "OriginalFilename", "game-studio.exe"
      VALUE "ProductName", "Game Studio Crew"
      VALUE "ProductVersion", "0.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
